include AUTHORS LICENSE MANIFEST.in README.creole
recursive-include bootstrap_env/requirements *
recursive-exclude * *.py[co]
recursive-include * *.creole
recursive-include * *.cmd
recursive-include * *.sh
